services:
  app:
    build:
      context: .
    expose:
      - "8000"

  nginx:
    image: nginx:latest
    volumes:
      # file on host machine : file in container
      - ./settings/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      # only run nginx after the app is running
      - app
    ports:
      # host machine port: nginx container port
      - "80:80"

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - nginx