apiVersion: 1

datasources:
  # set up Prometheus as the default data source
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true